*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
  background: #ffffff;
  position: relative;
  font-family: 'Rubik', sans-serif;
  .comment-section {
    width: 650px;
    margin: 0 auto;
    // position: absolute;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);
  }
}
